apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: processor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames: ["platform"]
  selector:
    matchLabels:
      app: kafka
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scheme: http
