apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: platform
  labels: { app: kafka }
spec:
  clusterIP: None
  type: ClusterIP
  publishNotReadyAddresses: true
  selector: { app: kafka }
  ports:
    - { name: kafka,      port: 9092,  targetPort: 9092 }
    - { name: controller, port: 9093,  targetPort: 9093 }
    - { name: internal,   port: 29092, targetPort: 29092 }
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: platform
  labels: { app: kafka }
spec:
  clusterIP: None
  selector: { app: kafka }
  ports:
    - name: broker
      port: 9092
      targetPort: 9092